.button {
    padding: 12px;
    text-align: center;
    display: block;
    text-decoration: none;
    margin: 0px auto;
    box-sizing: border-box;
    &--acesso {
        background-color: #4F2AC3;
        
    }


}