.infos-bar {
    background-color: white;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    
    &__infos {
        display: flex;
        gap: 40px;
        &__item {
            color: black;

            b {
                display: block;
                color: black;
            }
        }
    }
    @media screen and (max-width:640px) {
        
        display: flex;
        flex-direction: column;


        &__infos {
            display: flex;
            flex-direction: column;
            gap: 16px;
            margin-bottom: 16px;
        }
    }
}