@use 'variables';
.event {

    
    &--front-end {
        background-image: linear-gradient(variables.$azul1, variables.$azul2);
    }
    &--ui-xi {
        background-image: linear-gradient(variables.$azul2,variables.$yellow1);
    }
    &--data-ci {
        background-image: linear-gradient(variables.$yellow1,variables.$yellow2);
    }
    &--back-end {
        background-image: linear-gradient(variables.$yellow2,variables.$yellow1);
    }
    .--img-left {
        flex-direction: row-reverse;
    }

    padding: 80px 0px;
    .container {
        display: flex;
        gap: 40px;

        
    }

    &__details {
        display: block;
        margin: 0px auto;
        &__title {
            display: block;
            margin-bottom: 12px;
        }
        &__description {
            text-align: justify;
            max-width: 460px;
            margin-right: 12px;
            margin-bottom: 12px;
        }
    }
    &__img {
        display: block;
        max-width: 360px;
        width: 100%;
        margin: 0px auto;
    }

    @media screen and (max-width: 640px) {

        .container {
            display: block;
        }
        

    }
}