@use 'reset';
@use 'hero';

.container {
    max-width: 960px;
    margin: 0px auto;
    width: 100%;

    @media screen and (max-width:640px) {
        width: 80%;
    }
    @media screen and (max-width:1024px){
        width: 90%;
    }
}